html, body {
  margin: 0;
  padding: 0;
  background: rgb(220, 220, 220);
}

canvas {
  display: block;

  background: url(gfx/grid-bg.png);

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
































/* EOF */
