html,
body {
	margin: 0;
	padding: 0;
	background: rgb(220, 220, 220);
	font-family: Arial, Helvetica, sans-serif;
}

/* Für Firefox */
* {
  scrollbar-width: thin;
}

/* Für Chrome, Edge und Safari */
*::-webkit-scrollbar {
  width: 6px;  /* Vertikale Scrollbar dünn machen */
  height: 6px; /* Horizontale Scrollbar dünn machen */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Farbe des Schiebers */
  border-radius: 10px; /* Abgerundete Ecken */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Hintergrund der Schiene */
}


#maincanvas canvas {
	display: block;

	background: url(/gfx/grid-bg.png);

	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

#maincanvas {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
}

#appgui {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	background: #fff;
	border: 0 none;
	overflow: auto;
	scrollbar-width: thin;
}

#appgui_splitter {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	box-sizing: border-box;
	background: #999;
	border: 0 none;
	cursor: ew-resize;
}

#newOperatorDialog {
	position: fixed;
	margin: 0;
	scrollbar-width: thin;
	z-index: 1000000;
	background: #fff;
	border: 1px solid #999;
	border-radius: 10px;
	padding: 0px;
	box-shadow: 0 0 5px #00000040;
	overflow: visible;
}

#newOperatorDialog::backdrop {
	/*
  background: #FFFFFF20;
  background: radial-gradient(ellipse at center,  #FFFFFF20 0%,#FFFFFFC0 100%);

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  */
	background: transparent;
}

#newOperatorSelection {
	padding: 20px 20px 60px 20px;
	max-width: 450px;
	max-height: 400px;
	overflow: auto;
}

.new-entry-option {
	font-size: 10px;
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
	border: 1px solid #aaa;
	background-color: #F0F0F0;
	overflow: hidden;
	margin: 3px;
	text-align: center;
	border-radius: 5px;
}

.new-entry-option:hover {
	background-color: #fff;
}

.new-entry-option:active {
	background-color: #cef;
}

.new-entry-option canvas {
	display: inline-block;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	line-height: 80px;
	vertical-align: middle;
	image-rendering: auto;
  image-rendering: smooth;
}

#dialog-bottom {
	position: absolute;
	bottom: 0;
	height: 25px;
	background: #ffffffF0;
	left: 12px;
	right: 12px;
	vertical-align: middle;
	text-align: right;
	padding: 15px;
	border: 0 none;
	border-top: #eee 1px solid;
}

#dialog-info-box {
	position: absolute;
	min-width: 210px;
	min-height: 100px;
	max-width: 500px;
	height: auto;
	width: auto;
	background: #ffffffe0;
	border: 1px solid #aaa;
	border-radius: 5px;
	top: 10px;
	left: calc(100% + 10px);
	padding: 20px;
}

#dialog-info-box-title {
	font-weight: bold;
	margin: 0 0 20px 0;
}

div.new-entry-category {
	font-size: 12px;
	border: 0 none;
	border-bottom: 1px solid #aaa;
	padding: 0 5px;
	margin: 20px 0 10px 0;
	user-select: none;
	cursor: default;
	opacity: 0.5;
}

div.new-entry-category:first-child {
	margin-top: 0;
}